<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

<!--
    Logging levels:
        "none"    - no logging.
        "error"   - errors only.
        "warning" - errors and warnings only.
        "info"    - errors, warnings and info.
        "debug"   - errors, warnings, info and debug.
-->

	<!-- Default log level for all systems. -->
	<key>Default Log Level</key>
	<string>error</string>

	<!-- Log levels overriding the default level for specific systems. -->
	<!-- The keys in the dict are the system names, the string values the overridden log levels. -->
	<key>System Log Levels</key>
	<dict>
		<!-- Its useful to have a higher than normal logging for the startup phase. -->
		<key>Startup</key>
		<string>info</string>

		<!-- We're likely to want to keep a close eye on security related issues. -->
		<key>Security</key>
		<string>warning</string>

		<!-- Directory provisioning. -->
		<!--
		<key>Directory</key>
		<string>warning</string>
		-->

		<!-- HTTP method processing. -->
		<!--
		<key>http</key>
		<string>warning</string>
		-->

		<!-- Writing/indexing calendar data. -->
		<!--
		<key>Store Resource</key>
		<string>warning</string>
		-->

		<!-- Dropbox support. -->
		<!--
		<key>dropbox</key>
		<string>warning</string>
		-->

		<!-- iCalendar parsing/handling. -->
		<!--
		<key>iCalendar</key>
		<string>warning</string>
		-->

		<!-- iTIP auto-processing. -->
		<!--
		<key>iTIP</key>
		<string>info</string>
		-->

		<!-- To track down CalDAV scheduling issues enable this. -->
		<!--
		<key>Outbox</key>
		<string>info</string>
		-->

		<!-- Log rotation etc. -->
		<!--
		<key>Logging</key>
		<string>warning</string>
		-->

		<!-- To track down issues with the databases. -->
		<!--
		<key>SQL</key>
		<string>info</string>
		-->
	</dict>

	<!-- Per User Accounting -->
	<key>Accounting</key>
	<dict>
	    <key>Enabled</key>
	    <false/>
	    <key>LogDirectory</key>
	    <string>/var/log/caldavd/logs</string>
	    <key>iTIP</key>
	    <false/>
	    <key>principals</key>
	    <array></array>
	</dict>

	<!-- Whether class names should be displayed in the logs. -->
	<key>Display Class Names</key>
	<false/>

</dict>
</plist>
